---
# a
---

/* Variables */
$baseurl: '{{ site.baseurl }}/images';
$logo-font: 'Amatic SC', 'kokoro', cursive;

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'font-awesome.min.css';
@import 'additional_vars';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/earlyaccess/kokoro.css');

@import 'libs/skel';

@include skel-breakpoints((
    xlarge: '(max-width: 1680px)',
    large: '(max-width: 1280px)',
    medium: '(max-width: 980px)',
    small: '(max-width: 736px)',
    xsmall: '(max-width: 480px)'
));

figcaption{
    font-size: small;
    line-height: 1.2em;
    margin: 0.5em 0 1em 0;
}

.site-title{
    font-family: $logo-font;
    font-size: x-large;

    &.banner{
        font-size: 30pt;
        margin: 0.5rem auto;
    }

    &.banner-sub{
        font-size: large;
        margin: 0.5rem auto;
    }
}

.icons{
    &.special{
        .icon{
            transition: all 300ms 0s ease;
            .label{
                display: block;
                pointer-events: none;
                transform: rotate(45deg);
                font-family: $logo-font;
                opacity: 0;
                transition: all 300ms 0s ease;
            }
        }

        .icon:hover{
            transform: rotate(0deg);
            .label{
                opacity: 1;
            }
        }

        .icon:active{
            transform: translateY(-10pt);
        }
    }
}

body.landing{
    &.portofolio-hts{
        #page-wrapper{
			@include vendor('background-image', ('linear-gradient(top, #{$banner-tint}, #{$banner-tint})', 'url("#{$baseurl}/portfolio/hts/banner.jpg")'));
        }
    }
    &.portfolio-fpv{
        #page-wrapper{
			@include vendor('background-image', ('linear-gradient(top, #{$banner-tint}, #{$banner-tint})', 'url("#{$baseurl}/portfolio/fpv/banner.jpg")'));
        }
    }
    &.portfolio-sc{
        #page-wrapper{
			@include vendor('background-image', ('linear-gradient(top, #{$banner-tint}, #{$banner-tint})', 'url("#{$baseurl}/portfolio/sc/banner.jpg")'));
        }
    }
}

body.is-mobile{
    &.landing{
        &.portofolio-hts{
            #banner,
			.wrapper.style4 {
				@include vendor('background-image', ('linear-gradient(top, #{$banner-tint}, #{$banner-tint})', 'url("#{$baseurl}/portfolio/hts/banner.jpg")'));
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
            }
        }
        
    }
}


.flex-place{
    @include vendor('display', 'flex');

    &.center{
        justify-content: center;
    }

    @include breakpoint(xsmall) {
        display: block;
    }
}

.side-by-side{
    @include vendor('display', 'flex');

    .image{
        @include vendor('order', '1');
        width: 40%;
        border-radius: 3px;
        border: 0;
        margin: 1em 1em 1em 1em;
        
        img {
            border-radius: 3px;
            margin: 0 0 1em 0;
            width: 100%;
        }

        figcaption{
            margin: -0.5em 0 1.5em 0;
        }
    }

    .content {
        @include vendor('order', '2');
        max-width: 48em;
        width: 60%;
        display: block;
    }

    &.right{
        @include vendor('flex-direction', 'row-reverse');

        .image{
            margin: 0 0 2em 2em;
        }
    }

    @include breakpoint(small) {
        .image{
            width: 50%;
        }
        .content {
            width: 50%;
        }
    }

    @include breakpoint(xsmall) {
        display: block;

        .image{
            width: 100%;
            margin: 0 0 0em 0;
        }

        .content {
            @include padding(0em, 0em);
            max-width: none;
            width: 100%;
        }

        &.right{
            .image{
                margin: 0 0 1em 0;
            }
        }
    }
}


.icon{
    &.mxa-pixiv{
        &:before{
            content: "";
            display: inline-block;
            background-image: url('images/pixiv_white.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            vertical-align: middle;
            width: 2em;
            height: 2em;
        }
    }
}

.overwrap{

    .image{
        position: absolute;
        z-index: 1;
    }

    .content{
        position: absolute;
        z-index: 2;
    }
}

.place-center{
    justify-content: center;
}