.c-kanaconv
{
    width: 100%;

    &__mode
    {
        width: 100%;
    }
    &__textarea-container
    {
        width: inherit;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2,50%);

        gap: 4px;
    }
    &__textarea
    {
        min-height: 16em;
        resize: none;
    }
}