---
title: Goodbye my home, Hello world!!
---
<!DOCTYPE html>

<html lang="ja">
    <head>
        {% include head-common.html %}
    </head>
    <body class="p-top theme--white-on-black">
        {% include site-header.html class="transparent" %}

        <main>
            <header class="c-top-banner">
                <div class="c-top-banner__image"></div>
                <div class="c-top-banner__text">
                    <h1>Goodbye <wbr>my home, <br>Hello world!!</h1>
                </div>
            </header>
        </main>

        {% include site-footer.html %}
        {% include site-transition-portal.html %}
    </body>
</html>