---
layout: portofolio
icon: icon fa-download style4
title: ポートフォリオ
description: 
---

{% for my_page in site.categories.Portfolio %}

    {% if my_page.title %}
        <section class="spotlight">
            <div class="image">
                <a href="{{ my_page.url | prepend: site.baseurl }}">
                    {% if my_page.thumbnail %}
                        <img src="{{ my_page.thumbnail }}" alt="" />
                    {% else %}
                        <img src="{{ prepend: site.baseurl }}/images/pic01.jpg" alt="" />
                    {% endif %}
                </a>
            </div>
            <div class="content">
                <h2>{{ my_page.title }}</h2>
                {% if my_page.summary %}
                    <p>{{ my_page.summary | markdownify }}</p>
                {% endif %}
                <a href="{{ my_page.url | prepend: site.baseurl }}">Learn More</a>
            </div>
        </section>
    {% endif %}

{% endfor %}