@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/earlyaccess/kokoro.css');

.hello-caption{
    font-family: 'Amatic SC', cursive;
}

.hello-caption > h1{
    font-size: 32pt;
    font-weight: normal;
    margin: 0.5rem auto;
}

.hello-caption > p{
    font-family: 'kokoro', cursive;
    margin: -0.5rem auto;
}

ul.links{
    display: table;
    table-layout: fixed;
    margin: 1rem auto;
    padding: 0%;
}

ul.links li{
    display:table-cell;
    vertical-align:bottom;
    width: 80pt;
    height: 80pt;
    text-align:center;
}

ul.links li a {
    display:block;
    text-decoration:none;
    font-family: 'Amatic SC', cursive;
    font-size: 21pt
}

ul.links li a img{
    margin: auto;
    display:block;
    width: 4rem;
}

.center-parent{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

@media only screen and (min-height:400px){
    .center-inner{
        width: 100%;
        height: 50%;
        top: 10pt;
        bottom: 10pt;
        left: 0pt;
        right: 0pt;
        position: fixed;
        margin: auto;
    }
}
@media only screen and (max-height:400px){
    .center-inner{
        width: 100%;
        margin: auto;
    }
}

.progress-icon{
    margin: auto;
    width: 2rem;
    height: 2rem;
    background: url('../images/progress.png');
    background-size: cover;
    animation: keyframes-progress-rotation 8s 0s infinite alternate;
}

@keyframes keyframes-progress-rotation{
    0%{
        transform: rotate(0deg)
    }
    /*1*/
    12.5%{
        transform: rotate(45deg)
    }
    /*2*/
    25%{
        transform: rotate(90deg)
    }
    /*3*/
    37.5%{
        transform: rotate(135deg)
    }
    /*4*/
    50%{
        transform: rotate(180deg)
    }
    /*5*/
    62.5%{
        transform: rotate(225deg)
    }
    /*6*/
    75%{
        transform: rotate(270deg)
    }
    /*7*/
    87.5%{
        transform: rotate(315deg)
    }
    /*8*/
    100%{
        transform: rotate(360deg)
    }
}